<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <label>Virtual Graphics Processing Unit (GPU)</label>
      <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="reservables-vgpus" name="reservables-vgpus">           
      </select>
   </div>
</div>
   
<script src="/isard-admin/static/js/snippets/domain_reservables.js"></script> 
