<template>
  <b-container fluid class="main-container pl-3 pr-3 pl-xl-5 pr-xl-5 pb-5 new-templates-list">
    <b-form @submit.prevent="submitForm">
      <!-- Title -->
      <b-row clas="mt-2">
        <h4 class="p-1 mb-4 mt-2 mt-xl-4 ml-2"><strong>{{ $t('forms.new-deployment.title') }}</strong></h4>
      </b-row>

      <!-- Name -->
      <b-row>
        <b-col cols="4" xl="2"><label for="deploymentNameField">{{ $t('forms.new-deployment.name') }}</label></b-col>
        <b-col cols="6" xl="4" class="mb-4">
          <b-form-input
            id="deploymentNameField"
            type="text"
            v-model="deploymentName"
            size="sm"
            @blur="v$.deploymentName.$touch"/>
            <div class="isard-form-error" v-if="v$.deploymentName.$error">{{ $t(`validations.${v$.deploymentName.$errors[0].$validator}`, { property: $t('forms.new-deployment.name'), model: deploymentName.length,  min: 4, max: 40 }) }}</div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <div class="d-flex">
            <label for="switch_1" class="mr-2"><b-icon icon="eye-slash-fill" class="mr-2" variant="danger"></b-icon>{{ $t('forms.new-deployment.not-visible') }}</label>
            <b-form-checkbox
              id="checkbox-1"
              v-model="visible"
              switch
            >
            <b-icon class="mr-2" icon="eye-fill" variant="success"></b-icon>{{ $t('forms.new-deployment.visible') }}
          </b-form-checkbox>
          </div>
        </b-col>
      </b-row>

      <b-row clas="mt-2">
        <h4 class="p-1 mb-4 mt-2 mt-xl-4 ml-2"><strong>{{ $t('forms.new-deployment.desktop.title') }}</strong></h4>
      </b-row>

      <b-row>
        <b-col cols="4" xl="2"><label for="desktopNameField">{{ $t('forms.new-deployment.desktop.name') }}</label></b-col>
        <b-col cols="6" xl="4">
          <b-form-input
            id="desktopNameField"
            type="text"
            v-model="desktopName"
            size="sm"
            @blur="v$.desktopName.$touch"/>
            <div class="isard-form-error" v-if="v$.desktopName.$error">{{ $t(`validations.${v$.desktopName.$errors[0].$validator}`, { property: $t('forms.new-deployment.desktop.name'), model: desktopName.length,  min: 4, max: 40 }) }}</div>
        </b-col>
      </b-row>

      <!-- Description -->
      <b-row class="mt-4">
        <b-col cols="4" xl="2"><label for="desktopDescriptionField">{{ $t('forms.new-deployment.desktop.description') }}</label></b-col>
        <b-col cols="6" xl="4">
          <b-form-input
            id="desktopDescriptionField"
            type="text"
            v-model="description"
            size="sm"/>
        </b-col>
      </b-row>

      <!-- Template section title -->
      <b-row class="mt-2 mt-xl-5">
        <h5 class="p-2 mt-2"><strong>{{ $t('forms.new-desktop.section-title-template') }}</strong></h5>
      </b-row>

      <!-- Table validation hidden field -->
      <b-row>
        <b-col cols="4">
          <b-form-input
            id="tableValidationField"
            type="text"
            v-model="selectedTemplateId"
            class="d-none"
            @change="v$.selectedTemplateId.$touch"/>
            <div class="isard-form-error" v-if="v$.selectedTemplateId.$error">{{ $t(`validations.${v$.selectedTemplateId.$errors[0].$validator}`, { property: `${$t("forms.new-desktop.desktop-template")}` }) }}</div>
        </b-col>
      </b-row>

      <!-- Filter -->
      <b-row class="mt-2">
          <b-col cols="2"><label for="filter-input">{{ $t('forms.new-desktop.filter') }}</label></b-col>
          <b-col cols="8" md="6" lg="4" xl="4">
            <b-input-group size="sm">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                :placeholder="$t('forms.new-desktop.filter-placeholder')"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">{{ $t('forms.clear') }}</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
      </b-row>

      <!-- Table -->
      <b-row class="mt-4">
        <b-col>
          <b-table
          id="desktops-table"
          striped
          hover
          :items="items"
          :per-page="perPage"
          :current-page="currentPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :fields="fields"
          :responsive="true"
          small
          @filtered="onFiltered"
          select-mode="single"
          selected-variant="primary"
          selectable
          @row-selected="onRowSelected">

          <!-- Scoped slot for line selected column -->
          <template #cell(selected)="{ rowSelected }">
            <template v-if="rowSelected">
              <span aria-hidden="true">&check;</span>
            </template>
            <template v-else>
              <span aria-hidden="true">&nbsp;</span>
            </template>
          </template>

           <!-- Scoped slot for image -->
          <template #cell(image)="data">
            <img :src="`..${data.item.image.url}`" alt="" style="height: 2rem; border: 1px solid #555;">
          </template>
        </b-table>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          aria-controls="desktops-table"
          size="sm">
          </b-pagination>
        </b-col>
      </b-row>

      <!-- Allowed -->
      <AllowedForm />

      <!-- Buttons -->
      <b-row align-h="end">
        <b-button size="md" class="btn-red rounded-pill mt-4 mr-2" @click="navigate('deployments')">{{ $t('forms.cancel') }}</b-button>
        <b-button type="submit" size="md" class="btn-green rounded-pill mt-4 ml-2 mr-5">{{ $t('forms.create') }}</b-button>
      </b-row>
  </b-form>
  </b-container>
</template>

<script>
import i18n from '@/i18n'
import { reactive, ref, computed, onUnmounted } from '@vue/composition-api'
import { mapActions } from 'vuex'
import useVuelidate from '@vuelidate/core'
import { required, maxLength, minLength } from '@vuelidate/validators'
import AllowedForm from '@/components/AllowedForm.vue'
import { map } from 'lodash'

// const inputFormat = helpers.regex('inputFormat', /^1(3|4|5|7|8)\d{9}$/) // /^\D*7(\D*\d){12}\D*$'
const inputFormat = value => /^[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$/.test(value)

export default {
  setup (props, context) {
    const $store = context.root.$store
    $store.dispatch('fetchAllowedTemplates')

    const deploymentName = ref('')
    const desktopName = ref('')
    const description = ref('')
    const visible = ref(false)
    const perPage = ref(5)
    const currentPage = ref(1)
    const filter = ref('')
    const filterOn = reactive([])
    const selected = ref([])
    const selectedTemplateId = computed(() => selected.value[0] ? selected.value[0].id : '')

    const items = computed(() => $store.getters.getTemplates)
    const groupsChecked = computed(() => $store.getters.getGroupsChecked)
    const selectedGroups = computed(() => $store.getters.getSelectedGroups)
    const usersChecked = computed(() => $store.getters.getUsersChecked)
    const selectedUsers = computed(() => $store.getters.getSelectedUsers)

    const fields = reactive([
      {
        key: 'selected',
        label: i18n.t('forms.new-desktop.template-table-column-headers.selected'),
        thClass: 'col-1',
        tdClass: 'col-1'
      },
      {
        key: 'image',
        sortable: false,
        label: i18n.t('forms.new-desktop.template-table-column-headers.image'),
        thClass: 'col-1'
      },
      {
        key: 'name',
        sortable: true,
        label: i18n.t('forms.new-desktop.template-table-column-headers.name'),
        thClass: 'col-3'
      },
      {
        key: 'description',
        sortable: true,
        label: i18n.t('forms.new-desktop.template-table-column-headers.description'),
        thClass: 'col-3',
        tdClass: 'col-3'
      },
      {
        key: 'categoryName',
        label: i18n.t('forms.new-desktop.template-table-column-headers.category'),
        sortable: true,
        thClass: 'col-2',
        tdClass: 'col-2'
      },
      {
        key: 'groupName',
        label: i18n.t('forms.new-desktop.template-table-column-headers.group'),
        sortable: false,
        thClass: 'col-2',
        tdClass: 'col-2'
      },
      {
        key: 'userName',
        sortable: true,
        label: i18n.t('forms.new-desktop.template-table-column-headers.user'),
        thClass: 'col-2',
        tdClass: 'col-2'
      }
    ])

    onUnmounted(() => {
      $store.dispatch('resetAllowedState')
    })

    return {
      deploymentName,
      visible,
      desktopName,
      description,
      groupsChecked,
      selectedGroups,
      usersChecked,
      selectedUsers,
      items,
      fields,
      perPage,
      currentPage,
      filter,
      filterOn,
      selected,
      selectedTemplateId,
      v$: useVuelidate()
    }
  },
  validations () {
    return {
      deploymentName: {
        required,
        maxLengthValue: maxLength(40),
        minLengthValue: minLength(4),
        inputFormat
      },
      desktopName: {
        required,
        maxLengthValue: maxLength(40),
        minLengthValue: minLength(4),
        inputFormat
      },
      selectedTemplateId: { required }
    }
  },
  data () {
    return {
      totalRows: 1
    }
  },
  mounted () {
    this.totalRows = this.items.length
  },
  methods: {
    ...mapActions([
      'createNewDeployment',
      'navigate'
    ]),
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onRowSelected (items) {
      this.selected = items
    },
    async submitForm () {
      const isFormCorrect = await this.v$.$validate()

      if (isFormCorrect) {
        const groups = this.groupsChecked ? map(this.selectedGroups, 'id') : false
        const users = this.usersChecked ? map(this.selectedUsers, 'id') : false
        this.createNewDeployment(
          {
            visible: this.visible,
            template_id: this.selected[0].id,
            name: this.deploymentName,
            desktop_name: this.desktopName,
            description: this.description,
            allowed: {
              users: users,
              groups: groups
            }
          }
        )
      }
    }
  },
  components: {
    AllowedForm
  }
}
</script>
