<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
         <div class="container for-about text-center" style="margin-top: 15px;">
            <img src="/isard-admin/static/img/isard.svg" width="250px" height="250px">
            <h1>IsardVDI</h1>
            <h1><small>Virtual Desktops Infrastructure</small></h1>
            <h2><small>Version: <a id="version" target="_blank"></a></small></h2>
            <div class="row" style="margin-top: 40px;">
               <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a  href="http://www.isardvdi.com" target="_blank" style="color: deepskyblue">
                     <i class="fa fa-globe" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>Visit website</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a  href="https://isard.gitlab.io/isardvdi-docs/" target="_blank" style="color: lightgrey">
                     <i class="fa fa-file-text fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>Read documentation</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a href="https://gitlab.com/isard/isardvdi" target="_blank" style="color: #1ABB9C">
                     <i class="fa fa-code fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>View source code</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a href="https://gitlab.com/isard/isardvdi/-/issues" target="_blank" style="color: orange">
                     <i class="fa fa-gitlab fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>Open an issue</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
            </div>
            <div class="row" style="margin-top: 25px;">
               <div class="col-md-4 col-sm-4 col-xs-4"></div>
               <div class="col-md-2 col-sm-2 col-xs-12">
                  <i class="fa fa-envelope-o fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                  <h1>
                     <small>
                        Contact us at:
                        <br/>
                        info@isardvdi.com
                     </small>
                  </h1>
               </div>
               <div class="col-md-2 col-sm-6 col-xs-12">
                  <p><img src="/isard-admin/static/img/agplv3-155x51.png" style="margin-top: 60px;"></p>
                  <h1 style="margin-top: 25px;"><small>License</small></h1>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
         </div>
     </div>
   </div>
</div>

{% endblock %}

{% block pagescript %}
<script src="/isard-admin/static/js/restful.js"></script>
<script src="/isard-admin/static/js/version.js"></script>
<script src="/isard-admin/static/js/quota_socket.js"></script> 
{% endblock %}
