{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="x_panel">
          <div class="page-title">
             <div class="title_left">
                <h3><i class="fa fa-gears"></i> Bookable Resources <small>Resources that need a booking</small></h3>
             </div>
             <div class="clearfix"></div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="x_panel">
          <div class="x_title">
             <h3><i class="fa fa-video-camera"></i> vGPU Profiles<small>Virtual Graphics Processing Units</small></h3>
             <div class="clearfix"></div>
          </div>
          <div class="x_content">
             <p class="text-muted font-13 m-b-30"></p>
             <div id="tableDiv"></div>
             <table id="reservables_vgpus" class="table">
                <thead>
                   <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Priority</th>
                      <th>Brand</th>
                      <th>Model</th>
                      <th>Profile</th>
                      <th>Units</th>
                      <th>Total Units</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 
 </div>

{% include '/snippets/alloweds_form.html' %}
{% include '/admin/pages/bookables_modals.html' %}
{% include '/admin/pages/bookables_detail.html' %}

{% endblock %}
{% block pagescript %}
   <script src="/isard-admin/static/js/restful.js"></script>
   <script src="/isard-admin/static/admin/js/bookables.js"></script>
   <script src="/isard-admin/static/js/quota_socket.js"></script>   
{% endblock %}
