<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Dropzone.js -->
    <link href="/isard-admin/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="x_panel">
          <div class="page-title">
             <div class="title_left">
                <h3><i class="fa fa-gears"></i> Configuration <small>Isard global configuration</small></h3>
              </div>
          </div> 
          <div class="clearfix"></div>
       </div>
    </div>
  </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-lock"></i> Job scheduler <small></small></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-scheduler" data-panel="scheduler"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Add job</span></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>

                    <div class="x_content">
                        <table id="table-scheduler" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Kind</th>
                                    <th>Next run</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-briefcase"></i> Backup database <small></small></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-backup" data-panel="backup"><span style="color: #5499c7; "><i class="fa fa-life-saver"></i> Backup</span></a>
                        <li><a class="btn-backups-upload" data-panel="backup"><span style="color: darkgreen; "><i class="fa fa-upload"></i> Upload</span></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="table-backups" class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Vers</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-wrench"></i> Maintenance mode</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <span id="maintenance_wrapper" style="display: none">
                     <input id="maintenance_checkbox" type="checkbox">
                  </span>
                  <i id="maintenance_spinner" class="fa fa-spinner fa-lg fa-spin"></i>
                  <label for="maintenance_checkbox">
                     Maintenance mode enabled
                  </label>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-lock"></i> Booking Scheduler <small>System schedulers for bookings</small></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>

                    <div class="x_content">
                        <table id="table-booking-scheduler" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Kind</th>
                                    <th>Next run</th>
                                    <th>kwargs</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="clearfix"></div>
</div>

{% include '/admin/pages/config_modals.html' %}
{% endblock %}
{% block pagescript %}
    <!-- Dropzone.js -->
    <script src="/isard-admin/vendors/dropzone/dist/min/dropzone.min.js"></script>
     	<script src="/isard-admin/static/js/restful.js""></script>
        <script src="/isard-admin/static/admin/js/config.js"></script>  
{% endblock %}
